<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node.js Crash Course</title>
</head>
<body>
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dolor culpa corrupti animi est facere natus hic harum atque quis.</p>
        <nav>
                <a href="/">Homepage</a>
                <a href="/about">About</a>
        </nav>
</body>
</html>